<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productList.css">
    <title>Document</title>
</head>
<body>
     <header>
        
        <%- include('./partials/header') %>

    </header> <!-- FIN HEADER -->
        <h1>Listado de productos</h1>
        <main>
     <!-- BRONCE    --> 
     <% products.forEach(product => { %>
                <%- include('./partials/product',{product}) %> 
                
                <% }) %>                 
                
        </main>


    <footer>
    
        <%- include('./partials/footer') %>

    </footer>

</body>
</html>