<!DOCTYPE html>
<html lang="en">
<!--------------------------------------------------header------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Noto+Serif+JP?category=Serif,Sans+Serif&subset=latin">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Saira+Condensed#pairings">
    <link rel="stylesheet" href="/css/apply-scholarship.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Apply-scholarship</title>
</head>
<!--------------------------------------------------body------------------------------------------------------------->
<body>
<!-------------------------------------------------header------------------------------------------------------------>
    <header>
        <figure class="div-logo">
            <img class="logo" src="/img/tierra-de-genios-texto-logo-1.png" alt="Logotipo principal">
        </figure>
        
        
         <div class="div-navbar">
                <nav class="navbar">
                    <a href="#">Nosotros</a>
                    <a href="#" class="boton-becas">Becas</a>
                    <a href="#" class="boton">Solicitar beca</a>
                    <a href="#" class="boton">Ayudar a becar</a>
                    <a href="#" class="boton">Registrarse</a> 
                    <a href="#">Ingresar</a>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </nav>
                
                
            </div>  
        
             
            </header>

<!--------------------------------------------------main------------------------------------------------------------->
    <main>
        <section>
            <article>
                <h2>Solicitar Beca</h2>
                <h3>¿Cómo funciona nuestra beca?</h3>
                <figure><img src="/img/viaje-tierra-de-genios.png" alt="viaje tierra de genios"> <!-------Hay que hacer la imagen solo del viaje del egresado y ponerla acá--------->
                </figure>
                <p>Nuestra beca es una ayuda económica que nació con el fin de que los beneficiarios puedan acceder a 
                    la educación formal en el mundo de la tecnología, creemos fielmente que la industria de la tecnología 
                    está creciendo a una velocidad superior a la de otras y que representa una oportunidad para la rápida inserción laboral.</p>
                <p>Las formaciones académicas que apoyamos deben cumplir con las características de ser: tecnológicas, cortas y de rápida inserción
                     laboral, preferentemente, en una de las academias tecnológicas más reconocidas de Argentina como Digital House o Acámica. Una
                      vez hayas aplicado, tu solicitud será revisada y nos comunicaremos contigo para validar la información que nos proporciones,
                       y para que realices la entrevista de admisión, una vez el proceso haya finalizado, se te notificará si has sido seleccionado/a,
                        de ser así, comenzará tu inscripción en la respectiva academia y nos mantendremos en contacto frecuentemente para que tu viaje 
                        académico sea exitoso y logres la certificación.</p>
                <section>
                <h3>¿Quién puede solicitarla?</h3>
                <p>Quienes soliciten nuestra beca deben cumplir con ciertos requisitos:</p>
                <ol>
                    <li>Ser de nacionalidad argentina.</li>
                    <li>Ser mayor de 18 años.</li>
                    <li>Haber terminado el secundario. (Sin adeudar materias)</li>
                    <li>Poseer computadora.</li>
                    <li>Poseer acceso a internet.</li>
                    <li>No poder afrontar la inversión académica sólo. (incluso con ayuda de los padres en caso de menores de 25 años)</li>
                </ol>
            </section>
            <section>
                <h3>¿Cuáles son mis responsabilidades?</h3> 
                <p>Al ser seleccionado/a, el/la beneficiario/a se compromete a completar la formación académica para la cual ha sido becado/a dando,
                     lo mejor de sí ya que nuestra más grande aspiración es formar personas de bien, exitosas e independientes que nos representen ante
                      el mundo como Argentinos/as, porque creemos firmemente que quien lo da todo, tarde o temprano tiene éxito, y nuestra misión no
                       sólo es acabar con la pobreza en Argentina, sino posicionarnos como potencia tecnológica mundial.</p>
                <p>Nuestro sistema de becas surge del concepto de “Préstamo de Honor”, esto significa que nuestra organización solventa la inversión
                     académica de los/as beneficiarios/as, y estos/as, una vez insertados/as laboralmente, deberán retribuir a Tierra de Genios el
                      15% de sus ingresos en carácter de Asociados Estudiantes, dicha devolución comenzará luego de que el egresado supere el 
                      ingreso de $100.000 por mes, hasta terminar de devolver un monto total de U$D 4.000, en caso de no percibir ingresos o 
                      estar momentáneamente sin trabajo, la devolución del prestamo de honor se pausará hasta que el Asociado Estudiante vuelva 
                      a superar el ingreso de $100.000. Consideramos que nuestra relación es una alianza de mutuo beneficio para que ambas partes
                       crezcan, nuestro hogar es un lugar donde todo estudiante puede refugiarse, capacitarse y conseguir un nuevo empleo, en 
                       cualquier etapa de su vida. </p>
                <p>Para más información, ¡Completa el formulario y nos comunicaremos contigo!</p>
                <p>¡Recuerda compartir nuestra iniciativa con toda persona que puedas, para que nuestra comunidad crezca y podamos dar
                     oportunidades a muchas más personas!</p>
                     
                        <iframe src="https://www.youtube.com/embed/ZgbO4biZasU" title="YouTube video player" 
                             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen class=""></iframe>
                              
                </section>
        </article>
    </section>
    
    <section>
        <h2>Solicitá tu beca</h2>
        <p>¡Somos Tierra de Genios, haz tomado la decisión correcta, estás a un paso de solicitar tu beca de estudio, te pedimos por favor rellenes
            el siguiente formulario de contacto para que un miembto de nuestro equipo se contacte contigo a la brevedad para comenzar con tu solicitud!
        </p>

        <form action="" method="" class="">

            <label for="email" class=""> 
                <input type="email" name="email" value="email" placeholder="" class="" required>
        </label>

            <label for="name" class=""> 
                <input type="text" name="name" value="name" placeholder="" class="" required>
        </label>

            <label for="surname" class=""> 
                <input type="text" name="surname" value="surname" placeholder="" class="" required>
        </label>

            <label for="cellphone" class=""> 
                <input type="number" name="cellphone" value="cellphone" placeholder="" class="" required>
        </label>

            <label for="date" class=""> 
                <input type="date" name="date" value="date" placeholder="" class="" required>
        </label>

            <label for="address" class=""> 
                <input type="text" name="address" value="address" placeholder="" class="" required>
        </label>

            <label for="city" class=""> 
                <input type="text" name="city" value="city" placeholder="" class="" required>
        </label>

            <label for="localidad" class=""> 
                <input type="text" name="localidad" value="localidad" placeholder="" class="" required>
        </label>

            <label for="country" class=""> 
                <input type="text" name="country" value="country" placeholder="" class="" required>
        </label>

            <label for="" class=""> 
                <input type="text" name="" placeholder="" class="" required>
        </label>
        
            <fieldset>
            <legend>¿Haz terminado el secundario?</legend>
            <label for="secundario-terminado">
                <input type="radio" name="secundario-terminado" value="Si">
                <p>Si</p>
            </label>
            <label for="secundario-terminado">
                <input type="radio" name="secundario-terminado" value="No">
                <p>No</p>
            </label>
        </fieldset>

            <fieldset>
            <label for="formacion-academica-actual" class="">
                <legend>¿Qué formación académica posees hoy?</legend>
                <p>En caso de no poseer, especificar.</p>
                <input type="text" name="formacion-academica-actual" value="formacion-academica-actual" placeholder="" class="" required>
            </label>
        </fieldset>

            <label for="" class=""> 
            <legend>¿Qué formación académica tecnológica te gustaría realizar?</legend>
            <p>Por ejemplo, Desarrolo Web Full Stack, Diseño Gráfico, Data Science, etc.</p>
            <input type="text" name="" placeholder="" class="" required>
        </label>

            <label for="" class=""> 
            <legend>¿En qué academia quieres estudiar?</legend>
            <p>Por ejemplo, Digital House, Acamica, etc.</p>
            <input type="text" name="" placeholder="" class="" required>
        </label>

            <label for="" class=""> 
            <legend>¿Qué te motiva a querer estudiarla?</legend>
            <p>Ej: Salida laboral, Especialización, etc.</p>
            <input type="text" name="" placeholder="" class="" required>
        </label>

        <fieldset>
            <legend>¿Posees computadora?</legend>
            <label for="posesion-de-computadora">
                <input type="radio" name="posesion-de-computadora" value="Si">
                <p>Si</p>
            </label>
            <label for="posesion-de-computadora">
                <input type="radio" name="posesion-de-computadora" value="No">
                <p>No</p>
            </label>
        </fieldset>

        <fieldset>
            <legend>¿Posees computadora?</legend>
            <label for="posesion-de-computadora">
                <input type="radio" name="posesion-de-computadora" value="Si">
                <p>Si</p>
            </label>
            <label for="posesion-de-computadora">
                <input type="radio" name="posesion-de-computadora" value="No">
                <p>No</p>
            </label>
        </fieldset>

        <p>¡Recuerda confirmar tu correo para que tu solicitud esté completa!</p>

            <fieldset>
        <p>Tierra de genios se compromete a proteger y respetar tu privacidad, y solo usaremoms
            tu información personal para administrar tu cuenta y proporcionar los productos y 
            servicios que nos solicitaste.
            Si aceptas que nos comuniquemos contigo para este fin, marca la casilla a continuación:
        </p>

            <label for="consentimiendo-datos" class="">
                <input type="checkbox" name="consentimiendo-datos" value="acepta-comunicaciones" placeholder="" class=""><p class="">Acepto recibir otras comunicaciones de Tierra de Genios.</p>
        </label>

            <label for="consentimiendo-datos" class="">
                <input type="checkbox" name="consentimiendo-datos" value="acepta-almacenar-y-procesar-datos" placeholder="" class=""><p class="">Acepto permitir a Tierra de Genios almacenar y procesar mis datos personales.</p>
        </label>
        </fieldset>

        <fieldset></fieldset>  <!---Acá va el captcha-->

        <label for="submit">
            <input type="button" value="submit">
        </label>

        </form>

    </section>




    </main>
<!--------------------------------------------------footer------------------------------------------------------------->
    <footer>
        
            <div class="div-footer-nav">
                <nav>

                    <a href=""><i class="fab fa-facebook-square rrss-logos"></i></a>
                    <a href=""><i class="fab fa-instagram rrss-logos"></i></a>
                    <br>    
                    <a  href="">Terminos y condiciones</a>
                    <br>
                    <a  href="">Contacto</a>
                    <p >Todos los derechos reservados</p>


                </nav>

            </div>
            <div class="div-footer-logo">
                <img class="footer-logo"  src="/img/logotipo-tdg.png">
            </div>
       
    </footer>

</body>

</html>