<!DOCTYPE html>
<html lang="en">
<!--------------------------------------------------head------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Noto+Serif+JP?category=Serif,Sans+Serif&subset=latin">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Saira+Condensed#pairings">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Home</title>
</head>

<!--------------------------------------------------body------------------------------------------------------------->
<body>

<!--------------------------------------------------header------------------------------------------------------------->

    <header>
        <figure class="div-logo">
            <img class="logo" src="/img/tierra-de-genios-texto-logo-1.png" alt="Logotipo principal">
        </figure>
         <div class="div-navbar">
                <nav class="navbar">
                    <a href="#">Nosotros</a>
                    <a href="#" class="boton-becas">Becas</a>
                    <a href="/apply-scholarship" class="boton">Solicitar beca</a>
                    <a href="#" class="boton">Ayudar a becar</a>
                    <a href="#" class="boton">Registrarse</a> 
                    <a href="#">Ingresar</a>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </nav>
            </div>  
            </header>

<!--------------------------------------------------main------------------------------------------------------------->

<!-------------------------------------------Primer Section--------------------------------------------->

        <main class="main-class">
            <section class="section-principal-home">
                <article class="box-first-section">
                    <section class="box-h2-p-boton-first-section">
                    <h2 class="titulo-first-section">Transformamos vidas recaudando fondos</h2>
                    <p class="texto-parrafo-first-section">Generamos empleo a través del financiamiento colectivo para quienes quieren transformar
                        sus vidas con educación.
                    </p>
                    <div class="box-button-first-section">
                      <a href="" target="" class="button-first-section"><p class="p-button-first-section">Contribuir</p>
                     </a>
                  </div>
                </section>
                  <figure class="box-image-first-section">
                      <img src="/img/imagen-estudiante-alzando-su-diploma-2.jpg" alt="estudiante alzando su diploma" class="image-first-section">
                  </figure>
                </article>
            </section>

<!-------------------------------------------Segunda Section--------------------------------------------->
            <div class="linea-arriba-del-section-second-home"></div>
            <section class="section-second-home">
                <figcaption>
                    <h3 class="titulo-box-imagen-viaje-becado">Un viaje de ida</h3>
                </figcaption>
                <figure class="box-imagen-viaje-becado">
                    <img src="/img/viaje-tierra-de-genios.png" alt="imagen viaje tierra de genios" class="imagen-viaje-becado">
                    <img src="/img/viaje-tierra-de-genios-desktop.png" alt="imagen viaje tierra de genios desktop" class="imagen-viaje-becado-desktop">
                </figure>
                <p class="texto-pie-de-image-viaje-becado">*En 7 meses nuestros becados viven su nueva vida*</p>
            </section>
            <div class="linea-abajo-del-section-second-home"></div>

<!-------------------------------------------Tercera Section--------------------------------------------->

            <section class="section-third-home">
                    <figure class="contenedor-barra-de-progreso-y-icono-birrete">
                        <img class="barra-de-progreso-beca" src="/img/barrar-de-progreso-beca-home.jpg" alt="imagen provisoria hasta
                         que pongamos la barra con JS">
                        <i class="fas fa-graduation-cap icono-birrete"></i>
                    </figure>
                    <p class="texto-barra-de-progreso-leyenda">Recaudación de fondos para el siguiente becado:</p>
                    <article class="article-section-third-home">
                         <section class="box-dentro-de-article-section-third-home">

                            <iframe src="https://www.youtube.com/embed/ZgbO4biZasU" title="YouTube video player" 
                             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen class="video-incrustado-youtube-article-section-third-home-2"></iframe>

                            <div class="box-nombre-y-apellido-solicitante-imagen-de-perfil-y-texto">
                             <div class="box-titulo-e-imagen-tarjeta-perfil-postulante">
                             <div class="box-titulo-box-dentro-de-article-section-third-home">
                             <h4 class="titulo-box-dentro-de-article-section-third-home">Gian Quaranta</h4>
                            </div>
                             <figure class="figure-imagen-perfil-tarjeta-solicitante-a-beca-box-article-section-third-home">
                                 <img src="/img/imagen-gian-prueba-para-tarjeta-de-solicitante-de-beca.jpg" alt="imagen solicitante de beca 
                                 para quien se está recaudando fondos actualmente" class="imagen-perfil-tarjeta-solicitante-beca-box-figure-home">
                             </figure>
                            </div>
                             <p class="p-texto-tarjeta-perfil-solicitante-beca">Creo que la educación es el camino a una vida mejor, y que hoy las oportunidades se
                                 encuentran en el rubro de la tecnología, quiero ser desarrollador web full stack y cambiar mi vida,
                                 por favor, si está dentro de tus posibilidades, ayúdame a lograrlo!
                             </p>
                             </div>
                             <iframe src="https://www.youtube.com/embed/ZgbO4biZasU" title="YouTube video player" 
                             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen class="video-incrustado-youtube-article-section-third-home"></iframe>

                            </section>
                    </article>
            </section>

<!-------------------------------------------Cuarta Section--------------------------------------------->

        <h3 class="titulo-section-fourth-home">¡Vos también podes ser parte!</h3>

        <section class="section-fourth-home"> 

            <article class="box-mas-elegido-suscripcion-plata-2">
                <p class="text-box-mas-elegido-suscripcion-plata-2">Más elegido</p>
            </article>

            <article class="article-suscripcion">       <!-----------1er Article------------>
                   <section class="box-titulo-article-suscripcion">
                    <h3 class="titulo-article-suscripcion">Suscripción Bronce</h3>
                </section>
                    <section class="box-estrellas-article-suscripcion">
                        <div class="box-cada-estrella-article-suscription-bronce">
                        <i class="fas fa-star estrellas-bronce"></i>
                    </div>
                        <div class="box-cada-estrella-article-suscription-bronce">
                        <i class="fas fa-star estrellas-bronce"></i>
                    </div>
                        <div class="box-cada-estrella-article-suscription-bronce">
                        <i class="fas fa-star estrellas-bronce"></i>
                    </div>  
                </section>
                    <section clas="box-leyenda-box-estrellas-article-suscription">
                    <p class="leyenda-box-estrellas-article-suscription">*Los rangos de nuestra comunidad de contribuyentes son según el aporte mensual. Cada estrella es un rango.</p>
                </section>
                <form action="" method="" class="form-article-suscription">
                <fieldset class="fieldset-monto-por-mes-form-article-suscription"> 
                    <label  for="monto-por-mes" class="box-input-monto-por-mes-más-signo-peso-form-article-suscription">
                    <input type="number" name="monto-por-mes" min="150" placeholder="Aporte mensual" class="input-label-monto-por-mes-form-article-suscription" required>
                    <i class="fas fa-dollar-sign signo-peso"></i>
                    </label>
                </fieldset>
                
                <fieldset class="box-leyenda-cantidad-de-cuotas-form-article-suscription">
                    <p class="leyenda-cantidad-de-cuotas-form-article-suscription">Cantidad de cuotas a aportar</p>
                </fieldset>

                <fieldset class="box-opciones-cuotas-a-aportar-form-article-suscription">
                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="1" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">1</p>
                </label>
    
                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="3" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">3</p>
                </label>

                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="6" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">6</p>
                </label>

                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="12" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">12</p>
                </label>
            </fieldset>

                <fieldset class="box-output-resultado-total-a-contribuir">
                    <label for="resultado-contribucion-total" class="label-output-resultado-contribucion-total">
                        <output id="" for="resultado-contribucion-total" class=""></output>
                        <i class="fas fa-dollar-sign signo-peso segundo-signo-peso"></i>
                </label>
            </fieldset>

            <fieldset class="box-leyenda-total-form-article-suscription">
                <p>Total</p>
            </fieldset>

            <fieldset class="box-button-contribuir-form-article-suscription">
                <button type="submit" class="button-contribuir-form-article-suscription">Contribuir</button>
            </fieldset>
                </form>

                <section class="box-ul-descripcion-producto-article-suscription">
                    <ul class="ul-descripcion-producto-article-suscription">
                        <li class="li-descripcion-producto-article-suscription">Acceso tablero de becados propio.</li>
                        <li class="li-descripcion-producto-article-suscription">Acceso flujo de dinero.</li>
                        <li class="li-descripcion-producto-article-suscription">...</li>
                    </ul>
                </section>

                <section class="box-texto-ver-mas-descripcion-producto-article-suscription">
                    <a href="/views/productDetail.html" class="texto-ver-mas-descripcion-producto-article-suscription">Ver más</a>
                </section>
            </article>

            <div class="box-mas-elegido-suscripcion-plata">
                <p class="text-box-mas-elegido-suscripcion-plata">Más elegido</p>
            </div>
            <article class="article-suscripcion-plata"> <!-----------2do Article------------>
                <section class="box-titulo-article-suscripcion">
                    <h3 class="titulo-article-suscripcion">Suscripción Plata</h3>
                </section>
                    <section class="box-estrellas-article-suscripcion">
                        <div class="box-cada-estrella-article-suscription-plata">
                        <i class="fas fa-star estrellas-plata"></i>
                    </div>
                        <div class="box-cada-estrella-article-suscription-plata">
                        <i class="fas fa-star estrellas-plata"></i>
                    </div>
                        <div class="box-cada-estrella-article-suscription-plata">
                        <i class="fas fa-star estrellas-plata"></i>
                    </div>  
                </section>
                    <section clas="box-leyenda-box-estrellas-article-suscription">
                    <p class="leyenda-box-estrellas-article-suscription">*Los rangos de nuestra comunidad de contribuyentes son según el aporte mensual. Cada estrella es un rango.</p>
                </section>
                <form action="" method="" class="form-article-suscription">
                <fieldset class="fieldset-monto-por-mes-form-article-suscription"> 
                    <label for="monto-por-mes" class="box-input-monto-por-mes-más-signo-peso-form-article-suscription">
                    <input type="number" name="monto-por-mes" min="150" placeholder="Aporte mensual" class="input-label-monto-por-mes-form-article-suscription" required>
                    <i class="fas fa-dollar-sign signo-peso"></i>
                    </label>
                </fieldset>
                
                <fieldset class="box-leyenda-cantidad-de-cuotas-form-article-suscription">
                    <p class="leyenda-cantidad-de-cuotas-form-article-suscription">Cantidad de cuotas a aportar</p>
                </fieldset>

                <fieldset class="box-opciones-cuotas-a-aportar-form-article-suscription">
                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="1" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">1</p>
                </label>
    
                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="3" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">3</p>
                </label>

                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="6" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">6</p>
                </label>

                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="12" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">12</p>
                </label>
            </fieldset>

                <fieldset class="box-output-resultado-total-a-contribuir">
                    <label for="resultado-contribucion-total" class="label-output-resultado-contribucion-total">
                        <output id="" for="resultado-contribucion-total" class=""></output>
                        <i class="fas fa-dollar-sign signo-peso segundo-signo-peso"></i>
                </label>
            </fieldset>

            <fieldset class="box-leyenda-total-form-article-suscription">
                <p>Total</p>
            </fieldset>

            <fieldset class="box-button-contribuir-form-article-suscription">
                <button type="submit" class="button-contribuir-form-article-suscription">Contribuir</button>
            </fieldset>
                </form>

                <section class="box-ul-descripcion-producto-article-suscription">
                    <ul class="ul-descripcion-producto-article-suscription">
                        <li class="li-descripcion-producto-article-suscription">Acceso tablero de becados propio.</li>
                        <li class="li-descripcion-producto-article-suscription">Acceso flujo de dinero.</li>
                        <li class="li-descripcion-producto-article-suscription">...</li>
                    </ul>
                </section>

                <section class="box-texto-ver-mas-descripcion-producto-article-suscription">
                    <a href="/views/productDetail.html" class="texto-ver-mas-descripcion-producto-article-suscription">Ver más</a>
                </section>
            </article>

            <article class="article-suscripcion">  <!-----------3er Article------------>
                <section class="box-titulo-article-suscripcion">
                    <h3 class="titulo-article-suscripcion">Suscripción Oro</h3>
                </section>
                    <section class="box-estrellas-article-suscripcion">
                        <div class="box-cada-estrella-article-suscription-oro">
                        <i class="fas fa-star estrellas-oro"></i>
                    </div>
                        <div class="box-cada-estrella-article-suscription-oro">
                        <i class="fas fa-star estrellas-oro"></i>
                    </div>
                </section>
                    <section clas="box-leyenda-box-estrellas-article-suscription">
                    <p class="leyenda-box-estrellas-article-suscription">*Los rangos de nuestra comunidad de contribuyentes son según el aporte mensual. Cada estrella es un rango.</p>
                </section>
                <form action="" method="" class="form-article-suscription">
                <fieldset class="fieldset-monto-por-mes-form-article-suscription"> 
                    <label for="monto-por-mes" class="box-input-monto-por-mes-más-signo-peso-form-article-suscription">
                    <input type="number" name="monto-por-mes" min="150" placeholder="Aporte mensual" class="input-label-monto-por-mes-form-article-suscription" required>
                    <i class="fas fa-dollar-sign signo-peso"></i>
                    </label>
                </fieldset>
                
                <fieldset class="box-leyenda-cantidad-de-cuotas-form-article-suscription">
                    <p class="leyenda-cantidad-de-cuotas-form-article-suscription">Cantidad de cuotas a aportar</p>
                </fieldset>

                <fieldset class="box-opciones-cuotas-a-aportar-form-article-suscription">
                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="1" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">1</p>
                </label>
    
                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="3" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">3</p>
                </label>

                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="6" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">6</p>
                </label>

                    <label for="cuotas-por-mes" class="boton-opcion-cuotas-a-aportar-form-article-suscription">
                        <input type="radio" name="cuotas-por-mes" value="12" class="input-radio-cuotas-por-mes"><p class="texto-boton-input-radio-cuotas-por-mes">12</p>
                </label>
            </fieldset>

                <fieldset class="box-output-resultado-total-a-contribuir">
                    <label for="resultado-contribucion-total" class="label-output-resultado-contribucion-total">
                        <output id="" for="resultado-contribucion-total" class=""></output>
                        <i class="fas fa-dollar-sign signo-peso segundo-signo-peso"></i>
                </label>
            </fieldset>

            <fieldset class="box-leyenda-total-form-article-suscription">
                <p>Total</p>
            </fieldset>

            <fieldset class="box-button-contribuir-form-article-suscription">
                <button type="submit" class="button-contribuir-form-article-suscription">Contribuir</button>
            </fieldset>
                </form>

                <section class="box-ul-descripcion-producto-article-suscription">
                    <ul class="ul-descripcion-producto-article-suscription">
                        <li class="li-descripcion-producto-article-suscription">Acceso tablero de becados propio.</li>
                        <li class="li-descripcion-producto-article-suscription">Acceso flujo de dinero.</li>
                        <li class="li-descripcion-producto-article-suscription">...</li>
                    </ul>
                </section>

                <section class="box-texto-ver-mas-descripcion-producto-article-suscription">
                    <a href="/views/productDetail.html" class="texto-ver-mas-descripcion-producto-article-suscription">Ver más</a>
                </section>
            </article>

        </section>
    
    </main>
<!--------------------------------------------------footer------------------------------------------------------------->
    <footer>
        
            <div class="div-footer-nav">
                <nav>

                    <a href=""><i class="fab fa-facebook-square rrss-logos"></i></a>
                    <a href=""><i class="fab fa-instagram rrss-logos"></i></a>
                    <br>    
                    <a  href="">Terminos y condiciones</a>
                    <br>
                    <a  href="">Contacto</a>
                    <p >Todos los derechos reservados</p>


                </nav>

            </div>
            <div class="div-footer-logo">
                <img class="footer-logo"  src="/img/logotipo-tdg.png">
            </div>
       
    </footer>

</body>

</html>