<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap">
    <link rel="stylesheet"
        href="https://fonts.google.com/specimen/Noto+Serif+JP?category=Serif,Sans+Serif&subset=latin">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Saira+Condensed#pairings">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>About-us</title>
</head>

<body>
    <header>
        <div class="div-logo">
            <img class="logo" src="/img/tierra-de-genios-texto-logo-1.png" alt="Logotipo principal">
        </div>


        <div class="div-navbar">
            <nav class="navbar">
                <a href="#">Nosotros</a>
                <a href="#" class="boton-becas">Becas</a>
                <a href="#" class="boton">Solicitar beca</a>
                <a href="#" class="boton">Ayudar a becar</a>
                <a href="#" class="boton">Registrarse</a>
                <a href="#">Ingresar</a>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </nav>


        </div>


    </header>
    <main>
        <h1 class="titular-uno"><strong>¡Bienvenidos!</strong></h1>
        <section class="section-registro">
            <div class="registro-uno">
            <p class="registrarme"><strong>Registrarme con:</strong></p>
            <a href="https://www.facebook.com/"><input class="button" type="submit" value="Facebook"></button></a>
            <a href="https://myaccount.google.com/"><input class="button" type="submit" value="Google"></button></a>
            </div>
            <article class="registro-dos">
                <form class="form-registro" action="/register" method="POST">
                    <h3 class="titular-dos"><strong>Formulario de registro</strong></h3>
                    <!--<p class="dummy-text">El éxito no se mide en el dinero, sino en la diferencia que marcas en las personas. – Michelle Obama</p>-->
                    <p class="usuario-pass">
                        <a>Nombre</a><input type="text" name="usuario" id="usuario" required>
                    </p>
                    <p class="usuario-pass">
                        <a>Apellido</a><input type="text" name="usuario" id="usuario" required>
                    </p>
                    <p class="usuario-pass">
                        <a>Email</a><input type="email" name="email" id="email" required>
                    </p>
                    <p class="usuario-pass">
                        <label>Fecha de Nacimiento:</label>
                        <input class="fecha-nac" type="date" name="fecha" value="2021-07-05" min="1930-01-01"
                            max="2019-12-30" required>
                    </p>
                    <p class="usuario-pass">
                        <a>Dirección</a><input type="text" name="direccion" id="direccion" required>
                    </p>
                    <p class="usuario-pass">
                        <a>Teléfono</a><input type="tel" name="telefono" id="telefono" required>
                    </p>
                    <p class="usuario-pass">
                        <a>País</a><input type="text" name="pais" id="pais" required>
                    </p>
                    <div class="opciones-pago" required>
                        <h2 class="opciones">Opciones de pago</h2>
                        <p><input class= "forma-pago" type="radio" name="pago" value="pago">Transferencia Bancaria<i class="fas fa-money-check-alt imagen"></i></p>
                        <p><input class= "forma-pago" type="radio" name="pago" value="pago">Tarjeta de credito/debito<i class="fas fa-credit-card imagen"></i></p>
                        <p><input class= "forma-pago" type="radio" name="pago" value="pago">Pay Pal<i class="fab fa-cc-paypal imagen"></i></p>
                        <p><input class= "forma-pago" type="radio" name="pago" value="pago">Bitcoin<i class="fab fa-bitcoin imagen"></i></p>

                    </div>
                <a href="/"><input class="button-dos" type="submit" value="Registrarme"></a>    
                </form>
                
            </article>

        </section>
    </main>

    <footer>

        <div class="div-footer-nav">
            <nav>

                <a href=""><i class="fab fa-facebook-square rrss-logos"></i></a>
                <a href=""><i class="fab fa-instagram rrss-logos"></i></a>
                <br>
                <a href="">Terminos y condiciones</a>
                <br>
                <a href="">Contacto</a>
                <p>Todos los derechos reservados</p>


            </nav>

        </div>
        <div class="div-footer-logo">
            <img class="footer-logo" src="/img/logotipo-tdg.png">
        </div>

    </footer>

</body>

</html>