* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****** FOOTER  *******/

footer {
    display: flex;
    width: 100%;
    background-color: white;
    
    justify-content: space-between;
}

.div-footer-nav {
    width: 60%;
    padding: 10px;


}

.rrss-logos {
    margin: auto;
    font-size: 20px;
    color: black
}

.div-footer-logo {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.footer-logo {
    width: 70%;

}

footer p {
    font-size: 12px;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-family: "Saira", sans-serif;
}


/********* MEDIA QUERYS TABLET ********/

@media (min-width: 361px) {
    /*** FOOTER ***/

.footer-logo {
    width: 101px;
    padding: 10px;

}

}

                        /******** MEDIA QUERYS DESKTOP *****/

@media (min-width: 769px) {


}