* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/********* HEADER ***********/

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 0px 7px rgb(100, 100, 100);
    margin-bottom: 15px
}



.div-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;

}

.logo {
    width: 50%;
    padding: 10px;
    margin: auto;
}


.cart {
    font-size: 15px
}


.div-navbar {

    width: 100%;
    display: flex;
    padding: 15px;


}

.boton {
    display: none;
}



.navbar {

    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 10px 0px 10px;


}

.div-navbar .navbar a {
    font-family: "Noto", sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: black;
}


/********* MEDIA QUERYS TABLET ********/

@media (min-width: 361px) {

    /** HEADER **/

    .div-logo {
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        margin-top: 10px;

    }


    .div-navbar {

        width: 60%;
        display: flex;
        padding: 8px;


    }

    .navbar {
        margin: 0px;
    }

    .boton { 
        display: none;
    }

    .logo {
        width: 80%;
        padding: 10px;
        margin: auto;
    }


}


 /****** MEDIA QUERY DESKTOP *****/

/*** HEADER ***/
@media(min-width: 769px) { 

  /*  .logo{
        width: 234px;
    }
    
    .div-navbar {
        
        display: flex;
        padding: 15px;
     }*/
    
    
    .boton {
        display: flex;
    }
    
    .boton-becas {
        display: none;
    }
    }