header{
    display:block;
}

.navegador{
    display:flex;
}


.alineadoALaIzquierda{
    width:80vw;
    padding-left: 30vw;
    margin: auto;
    text-align: right;
    color: black;
}

.espacioBotonesNav{
    padding-left:3px;
    padding-right:3px;
}

a{
    text-decoration: none;  
}


footer{
    display:flex;
}

.fab{
    width: 40%;
    height: 40%;
}