/************ MOBILE ************/ 


/** MAIN **/

h2 { 
    text-align: center;
}

main {
    width: 100%;
    margin: 20px auto;
    
    
}

/* SECCION COMPLETA DE PRODUCTOS */
.seccion-de-productos {
    max-width: 96%;
    margin: 20px auto;
    justify-content: space-around;
    background-color: white;
   
}


/* PLANTILLA DEL PRODUCTO*/
.producto {
    width: 100%;
    padding: 0px 20px;
    margin: 20px auto;
    border: 1px black solid;
    
    
}

 /*** FORM ***/

 fieldset {
    border: none;
}

.form-donacion {
    width: 100%;
}

/* FIELDSET DE ESTRELLAS */
.form-estrellas {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 60%;
    margin: 20px auto;
    color: red;
    font-size: 25px;
    border: 1px black solid;
    padding: 5px;
    
}

.form-donacion p {
    font-size: 13px;
    width: 80%;
    text-align: center;
    margin: 15px auto;
}

/* FIELDSET SECCION DONACION*/
.form-botones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.form-botones p { 
font-size: 13px;
width: 100%;
text-align: center;
margin: 10px auto;}


/* INPUT - $$ A DONAR */
.cantidad-donacion{
    display: flex;
    width: 70%;
    margin: 20px auto;
    height: 30px;
    
}


.signo-dolar {
    width: 20%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}


/* GRUPO DE BOTONES*/
.form-boton-group {
    display: flex;
    width: 100%;
    
    }

.form-boton-group button {
    height: 40px;
    width: 15%;
    margin: auto;

} 

.contribuir {
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin: 15px auto;
    
}
/* FIN FIELDSET SECCION DONACION*/   
/* FIN DEL FORM */


.producto-descripcion {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    border: 1px black solid;
}

ul {
    list-style: none;
}

li i {
    margin: 10px auto;
    
}

/* ARTICLE */

section {
    width: 100%;
}

article {
    width: 90%;
    margin:  10px auto;
    margin-top: 5px;

}
figure {
    width: 100%;
}

figure img {
    display: none;
    width: 100%;
    
}

.descripcion {
    width: 100%;
    display: block;
    

}

h2 {
    font-size: 16px;
}

article p {
    
    padding: 10px;
    font-size: 14px;
}




/************* TABLET *************/ 


@media (min-width: 361px){

/** MAIN **/

.seccion-de-productos {
    width: 100%;
    display: flex ;
    flex-wrap: wrap;
}

.producto {
    display: block;
    width: 32% ;
}


article {
    display: flex;
    width: 90%;
    
    margin-top: 20px;
    justify-content: space-between;

}



figure {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    display: flex;
    width: 100%;
    
}

.descripcion {
    width: 40%;
    display: block;

}

h2 {
    font-size: 17px;
}

article p {
    display: flex;
    padding: 10px;
    font-size: 16px;
}







}


/************* DESKTOP *************/

@media (min-width: 769px){

article {
    padding: 15px 30px;
    
}



h2 {
    font-size: 22px;
}

article p {
    display: flex;
    font-size: 20px;
    
}




    
}