main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.figure {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.figure img {
    width: 39vh;
    height: 39vh;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

#info {
    width: 86%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info ul li {
    list-style: none;
    margin-top: 10px;
}

h2{
    text-align: center;
    margin: 30px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    width: 40%;
    margin: 20px auto;
}

#info ul {
    list-style: none;
}

#info ul li {
    margin: 3px 0;
}

#info button {
    margin: 30px 0 50px 0;
    padding: 6px 15px;
    font-size: 15px;
    background-color: #eb931d;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 1s;
}

#info button:hover {
    background-color: #fdb95d;
}

#info button a {
    text-decoration: none;
    color: #ffffffff;
}


@media(min-width:679px) {
    #info{
        width: 50%;
    }

    .figure {
        width: 50%;
        align-self: flex-start;
    }

}


@media(min-width:971px) {
    article {
        max-width:874px;
    }

    main h2 {
        width: 90%;
    }

    .figure img {
        width: 48vh;
        height: 48vh;
        max-width: 48vh;
        max-height: 48vh;
    }

    article {
        margin-bottom: 80px;
    }
}