<!DOCTYPE html>
<html lang="en">
<!--------------------------------------------------head------------------------------------------------------------->
<head>
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<!--------------------------------------------------body------------------------------------------------------------->
<body>
<!-------------------------------------------------header------------------------------------------------------------>
    <header>
       
        <%- include('./partials/header') %>

   </header>
<!--------------------------------------------------main------------------------------------------------------------->
<main>
    <section id="first-section">
        <article id="article-primer-section">
        <h2>Transformamos vidas recaudando fondos</h2>
        <p class="p-first-section">Generamos empleo a través del financiamiento colectivo para quienes quieren transformar sus vidas con educación.</p> <!--Transformamos vidas a través de la educación potenciando así las oportunidades laborales del nuevo mundo, la tecnología.-->
        <a href="/productDetail" target="" id="boton-first-section">Contribuir</a>
    </article>
        <figure id="figure-first-section">
            <img src="/img/imagen-estudiante-alzando-su-diploma-2.jpg" alt="estudiante alzando su diploma">
          </figure>
    </section>
<!-------------------------------------------Segunda Section--------------------------------------------->
    <section class="second-section">
        <figcaption id="box-title-un-viaje-de-ida">
            <h3>Un viaje de ida</h3>
        </figcaption>
        <figure class="figure-second-section">
            <img src="/img/viaje-tierra-de-genios.png" alt="imagen viaje tierra de genios" class="img-viaje-tdg-vertical">
            <img src="/img/viaje-tierra-de-genios-desktop.png" alt="imagen viaje tierra de genios desktop" class="img-viaje-tdg-desktop">
        </figure>
        <p class="p-second-section">*En 7 meses nuestros becados viven su nueva vida*</p>
    </section>
<!-------------------------------------------Tercera Section--------------------------------------------->
    <section>
        <figure class="figure-third-section">
            <img src="/img/barrar-de-progreso-beca-home.jpg" alt="" class="imagen-barra-progreso-recaudacion-fondos-beca">
            <i class="fas fa-graduation-cap"></i>
            <p>Recaudación de fondos para el siguiente becado:</p>
            </figure>
        <article>
            <iframe src="https://www.youtube.com/embed/ZgbO4biZasU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen id="video-youtube-incrustado"></iframe>
            <section id="section-perfil-postulante-a-beca">
            <h4>Gian Quaranta</h4>
            <figure>
                <img src="/img/imagen-gian-prueba-para-tarjeta-de-solicitante-de-beca.jpg" alt="imagen solicitante de beca 
                para quien se está recaudando fondos actualmente">
            </figure>
            <p>Creo que la educación es el camino a una vida mejor, y que hoy las oportunidades se
                encuentran en el rubro de la tecnología, quiero ser desarrollador web full stack y cambiar mi vida,
                por favor, si está dentro de tus posibilidades, ayúdame a lograrlo!
            </p>
            </section>
        </article>
    </section>

<!-------------------------------------------Cuarta Section--------------------------------------------->

<section class="fourth-section"> 
    <h3 class="h3-fourth-section">¡Vos también podes ser parte!</h3>
    <article class="article-suscription">       <!-----------1er Article------------>
    <h3>Suscripción Bronce</h3>
    <section>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </section>
    <p>*Los rangos de nuestra comunidad de contribuyentes son según el aporte mensual. Cada estrella es un rango.</p>
    <form action="" method="">
        <fieldset> 
            <label for="monto-por-mes" class="label-input-form-aporte-mensual">
            <input type="number" name="monto-por-mes" min="150" placeholder="Aporte por cuota" required>
            <i class="fas fa-dollar-sign"></i>
            </label>
        </fieldset>
        
        <fieldset>
            <label class="leyenda-cantidad-de-cuotas-a-aportar">Cantidad de cuotas a aportar</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" id="bronce-una-cuota" value="1">
            <label for="bronce-una-cuota" class="label-cuotas">1</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="3" id="bronce-tres-cuotas">
            <label for="bronce-tres-cuotas" class="label-cuotas">3</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="6" id="bronce-seis-cuotas">
            <label for="bronce-seis-cuotas" class="label-cuotas">6</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="12" id="bronce-doce-cuotas">
            <label for="bronce-doce-cuotas" class="label-cuotas">12</label>
        </fieldset>

        <fieldset>
            <label for="output-aporte" class="label-output-aporte-total-form">
            <output id="output-aporte" for="resultado-contribucion-total" class=""></output>
            <i class="fas fa-dollar-sign"></i>
        </label>
            <label class="leyenda-total-luego-de-output">Total</label>
        </fieldset>

        <fieldset>
        <button type="submit">Contribuir</button>
        </fieldset>
    </form>

        <section class="section-detalle-producto">
            <ul>
                <li>Acceso tablero de becados propio.</li>
                <li>Acceso flujo de dinero.</li>
                <li>...</li>
            </ul>
        </section>

        <section class="section-link-ver-mas-detalle-de-producto">
            <a href="/views/productDetail.html">Ver más</a>
        </section>
    </article>

    <article class="second-article article-suscription"> <!-----------2do Article------------>
        <p class="mas-elegido-suscripcion-plata">Más elegido</p>
        <h3>Suscripción Plata</h3>
    <section>
        <i class="fas fa-star color-estrellas-plata"></i>
        <i class="fas fa-star color-estrellas-plata"></i>
        <i class="fas fa-star color-estrellas-plata"></i>
    </section>
    <p>*Los rangos de nuestra comunidad de contribuyentes son según el aporte mensual. Cada estrella es un rango.</p>
    <form action="" method="">
        <fieldset> 
            <label for="monto-por-mes" class="label-input-form-aporte-mensual">
            <input type="number" name="monto-por-mes" min="150" placeholder="Aporte por cuota" required>
            <i class="fas fa-dollar-sign"></i>
            </label>
        </fieldset>
        
        <fieldset>
            <label class="leyenda-cantidad-de-cuotas-a-aportar">Cantidad de cuotas a aportar</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" id="plata-una-cuota" value="1">
            <label for="plata-una-cuota" class="label-cuotas">1</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="3" id="plata-tres-cuotas">
            <label for="plata-tres-cuotas" class="label-cuotas">3</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="6" id="plata-seis-cuotas">
            <label for="plata-seis-cuotas" class="label-cuotas">6</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="12" id="plata-doce-cuotas">
            <label for="plata-doce-cuotas" class="label-cuotas">12</label>
        </fieldset>

        <fieldset>
            <label for="output-aporte" class="label-output-aporte-total-form">
            <output id="output-aporte" for="resultado-contribucion-total" class=""></output>
            <i class="fas fa-dollar-sign"></i>
        </label>
            <label class="leyenda-total-luego-de-output">Total</label>
        </fieldset>

        <fieldset>
        <button type="submit">Contribuir</button>
        </fieldset>
    </form>

        <section class="section-detalle-producto">
            <ul>
                <li>Acceso tablero de becados propio.</li>
                <li>Acceso flujo de dinero.</li>
                <li>...</li>
            </ul>
        </section>

        <section class="section-link-ver-mas-detalle-de-producto">
            <a href="/views/productDetail.html">Ver más</a>
        </section>
        </article>
        

    <article class="article-suscription">  <!-----------3er Article------------>
        <h3>Suscripción Oro</h3>
    <section>
        <i class="fas fa-star color-estrellas-oro"></i>
        <i class="fas fa-star color-estrellas-oro"></i>
    </section>
    <p>*Los rangos de nuestra comunidad de contribuyentes son según el aporte mensual. Cada estrella es un rango.</p>
    <form action="" method="">
        <fieldset> 
            <label for="monto-por-mes" class="label-input-form-aporte-mensual">
            <input type="number" name="monto-por-mes" min="150" placeholder="Aporte por cuota" required>
            <i class="fas fa-dollar-sign"></i>
            </label>
        </fieldset>
        
        <fieldset>
            <label class="leyenda-cantidad-de-cuotas-a-aportar">Cantidad de cuotas a aportar</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" id="oro-una-cuota" value="1">
            <label for="oro-una-cuota" class="label-cuotas">1</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="3" id="oro-tres-cuotas">
            <label for="oro-tres-cuotas" class="label-cuotas">3</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="6" id="oro-seis-cuotas">
            <label for="oro-seis-cuotas" class="label-cuotas">6</label>
        </fieldset>

        <fieldset class="radio-cantidad-de-cuotas">
            <input type="radio" name="cuotas-por-mes" value="12" id="oro-doce-cuotas">
            <label for="oro-doce-cuotas" class="label-cuotas">12</label>
        </fieldset>

        <fieldset>
            <label for="output-aporte" class="label-output-aporte-total-form">
            <output id="output-aporte" for="resultado-contribucion-total" class=""></output>
            <i class="fas fa-dollar-sign"></i>
        </label>
            <label class="leyenda-total-luego-de-output">Total</label>
        </fieldset>

        <fieldset>
        <button type="submit">Contribuir</button>
        </fieldset>
    </form>

        <section class="section-detalle-producto">
            <ul>
                <li>Acceso tablero de becados propio.</li>
                <li>Acceso flujo de dinero.</li>
                <li>...</li>
            </ul>
        </section>

        <section class="section-link-ver-mas-detalle-de-producto">
            <a href="/views/productDetail.html">Ver más</a>
        </section>
    </article>

</section>

</main>









<!--------------------------------------------------footer------------------------------------------------------------->
    <footer>
        
        <%- include('./partials/footer') %>
       
    </footer>

</body>

</html>






