<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/productList.css">
    <title>Document</title>
</head>
<body>
     <header>
        
        <%- include('./partials/header') %>

    </header> <!-- FIN HEADER -->
        <h1>Listado de productos</h1>
        <main>
     <!-- BRONCE    -->       
                <section class="tarjeta bronce">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>BRONCE</b></h3>
                            <p>Rango: <b>CIUDADANO EMBLEMA</b></p>
                            <p>Rango de donacion : <b> AR$ 0 - 50</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                            
                        </ul>

                        
                    </article>
                    <article class="contribuir">
                        <button type="submit"> Contribuir</button>
                    </article>
                   
                </section>

                <section class="tarjeta bronce">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>BRONCE</b></h3>
                            <p>Rango: <b>Ciudadano Ilustre</b></p>
                            <p>Rango de donacion : <b> AR$ 50 - 100</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                        </ul>

                        
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>

                <section class="tarjeta bronce">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>BRONCE</b></h3>
                            <p>Rango: <b>Patriota</b></p>
                            <p>Rango de donacion : <b> AR$ 100 - 150</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                        </ul>

                        
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>
                <!--FIN   BRONCE    --> 

                <!-- PLATA    --> 
                <section class="tarjeta plata">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>PLATA</b></h3>
                            <p>Rango: <b>Icono</b></p>
                            <p>Rango de donacion : <b> AR$ 150 - 200</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                            <li><i class="fas fa-check"></i>Acceso al tablero de becados universal </li>
                        </ul>

                        
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>

                <section class="tarjeta plata">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>PLATA</b></h3>
                            <p>Rango: <b>Eminencia</b></p>
                            <p>Rango de donacion : <b> AR$ 200 - 250</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                            <li><i class="fas fa-check"></i>Acceso al tablero de becados universal </li>
                        </ul>
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>

                <section class="tarjeta plata">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>PLATA</b></h3>
                            <p>Rango: <b>Procer</b></p>
                            <p>Rango de donacion : <b> AR$ 250 - 300</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                            <li><i class="fas fa-check"></i>Acceso al tablero de becados universal </li>
                        </ul>
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>

                <!-- FIN PLATA    --> 

                <!-- ORO  -->
                <section class="tarjeta oro">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>ORO</b></h3>
                            <p>Rango: <b>Magno</b></p>
                            <p>Rango de donacion : <b> AR$ 350 - 400</b></p>
                          </section>
                        <ul>
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                            <li><i class="fas fa-check"></i>Acceso al tablero de becados universal </li>
                            <li><i class="fas fa-check"></i>Acceso a ser mi amigo</li>
                        </ul>
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>

                <section class="tarjeta oro">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Categoria suscripción: <b>ORO</b></h3>
                            <p>Rango: <b>Egregio</b></p>
                            <p>Rango de donacion : <b> AR$ 400 - 500</b></p>
                          </section>
                        <ul>
                            
                            <li><b>DETALLE: </b></li>
                            <li><i class="fas fa-check"></i>Acceso tablero de becados propio.</li>
                            <li><i class="fas fa-check"></i>Acceso flujo de dinero.</li>
                            <li><i class="fas fa-check"></i>Certificado digital.</li>
                            <li><i class="fas fa-check"></i>Acceso al tablero de becados universal </li>
                            <li><i class="fas fa-check"></i>Acceso a ser mi amigo</li>
                        </ul>
                    </article>
                    <article class="contribuir">
                        <button type="submit">Contribuir</button>
                    </article>
                </section>
                <!-- FIN ORO  -->
               
              
            
        </main>


    <footer>
    
        <%- include('./partials/footer') %>

    </footer>

</body>
</html>