<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="css/productList.css">
    <title>Document</title>
</head>
<body>
     <header>
        
        <%- include('./partials/header') %>

    </header> <!-- FIN HEADER -->
        <h1>Listado de productos</h1>
        <main>
            
                <section class="tarjeta">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Suscripcion tipo: "Nombre del producto"</h3>
                            <p>Categoria: "tipo de categoria"</p>
                            <p>Rango de donacion : AR$ 50 - 100</p>
                          </section>
                        <ul>
                            <li>Acceso tablero de becados propio.</li>
                            <li>Acceso flujo de dinero.</li>
                            <li>Certificado digital</li>
                            <li>Acceso al tablero de becados universal</li>
                            <li> AQUI VA LA NUEVA DESCRIPCION </li>
                        </ul>

                        
                    </article>
                </section>

                <section class="tarjeta">
                    <figure>
                        <img src="/img/estrella-producto.jpg" alt="">
                    </figure>
                     <article class="detalle-producto"> 
                         <section class="detalle-producto-descripcion">
                             <h3>Suscripcion tipo: "Nombre del producto"</h3>
                            <p>Categoria: "tipo de categoria"</p>
                            <p>Rango de donacion : AR$ 50 - 100</p>
                          </section>
                        <ul>
                            <li>Acceso tablero de becados propio.</li>
                            <li>Acceso flujo de dinero.</li>
                            <li>Certificado digital</li>
                            <li>Acceso al tablero de becados universal</li>
                            <li> AQUI VA LA NUEVA DESCRIPCION </li>
                        </ul>

                        
                    </article>
                </section>
            
        </main>


    <footer>
    
        <%- include('./partials/footer') %>

    </footer>

</body>
</html>