<section class="div-footer-nav">
    <nav>

        <a href=""><i class="fab fa-facebook-square rrss-logos"></i></a>
        <a href=""><i class="fab fa-instagram rrss-logos"></i></a>
        <br>    
        <a  href="">Terminos y condiciones</a>
        <br>
        <a  href="">Contacto</a>
        <p >Todos los derechos reservados</p>


    </nav>

</section>
<section class="div-footer-logo">
    <img class="footer-logo"  src="/img/logotipo-tdg.png">
</section>