<figure class="div-logo">
    <a href="/"><img class="logo" src="/img/tierra-de-genios-texto-logo-1.png" alt="Logotipo principal"></a>
</figure>


 <section class="div-navbar">
        <nav class="navbar">
            <a href="/about-us">Nosotros</a>
            <a href="#" class="boton-becas">Becas</a>
            <a href="/apply-scholarship" class="boton">Solicitar beca</a>
            <a href="/productDetail" class="boton">Ayudar a becar</a>
            <a href="/register" class="boton">Registrarse</a> 
            <a href="/login">Ingresar</a>
            <a class= "boton" href="/productList">Rangos</a>
            <a href="/productCart"><i class="fas fa-shopping-cart cart"></i></a>
        </nav>
 </section>  