
<% product.forEach(product => { %>
    

<section class="tarjeta bronce">
    <figure>
        <img src="/img/estrella-producto.jpg" alt="">
    </figure>
     <article class="detalle-producto"> 
         <section class="detalle-producto-descripcion">
             <h3>Categoria suscripción: <b>FALTA </b> </b></h3>
            <p>Rango: <b><%= product.name %></b></p>
            <p>Rango de donacion : <b> AR$ <%=product.min %> - <%= product.max %></b></p>
          </section>
        <ul>
            
            <%- include('./partials/detailProduct') %>
        
            
        </ul>

        
    </article>
    <article class="contribuir">
        <button type="submit"> Contribuir</button>
    </article>
   
</section>
<% }) %> 